[Desktop Entry]
Encoding=UTF-8
Charset=
Hidden=false
Keys=imdb
Name=IMDB
Query=http://www.imdb.com/Find?select=All&for=\\{@}
ServiceTypes=SearchProvider
Type=Service
# vi: encoding=utf-8
