[Desktop Entry]
Encoding=UTF-8
Charset=
Hidden=false
Keys=specs
Name=PLD fast specs changelog access
Query=http://cvs.pld-linux.org/SPECS/\\{@}.spec
ServiceTypes=SearchProvider
Type=Service
